body

 {background-color: blue;}

.header {
  font-family: 'Righteous', cursive;
  padding: 60px;
  text-align: left;
  background: blue;
  color: white;
  font-size: 30px;

}
.header a:hover {
    background-color: blue;
    color: Red;
}
.logo img {
  align-content: left;
  size: 20px
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  
  .mySlides img {
    align-content: right;
  }
